# Artist Detail

In [1]:
%run ./wikipedia_setup.ipynb

## Configure DB and Data Accessors

In [2]:
db = sqlite3.Connection("var/data/music.db")

## Explore

In [6]:
pd.read_sql("""
    select count(*)
    from artist
""", db)

   count(*)
0     11134

In [8]:
pd.read_sql("""
    select *
    from artist
    limit 5
""", db)

,Artist,ArtistLink,ArtistDetailText
0,!!!,https://en.wikipedia.org/wiki/!!!,\n\n\n\n!!! - Wikipedia\n\n\n\n\n\n\n\n\n\n\n\...
1,"""Weird Al"" Yankovic",https://en.wikipedia.org/wiki/%22Weird_Al%22_Y...,"\n\n\n\n""Weird Al"" Yankovic - Wikipedia\n\n\n\..."
2,'68,https://en.wikipedia.org/wiki/%2768_(band),\n\n\n\n'68 (band) - Wikipedia\n\n\n\n\n\n\n\n...
3,'N Sync,https://en.wikipedia.org/wiki/%27N_Sync,\n\n\n\nNSYNC - Wikipedia\n\n\n\n\n\n\n\n\n\n\...
4,((( O ))),https://en.wikipedia.org/wiki/June_Marieezy,\n\n\n\nJune Marieezy - Wikipedia\n\n\n\n\n\n\...

In [10]:
pd.read_sql("""
    select
      min(length(ArtistDetailText)),
      max(length(ArtistDetailText)),
      avg(length(ArtistDetailText)),
      sum(length(ArtistDetailText))
    from artist
""", db)

,min(length(ArtistDetailText)),max(length(ArtistDetailText)),avg(length(ArtistDetailText)),sum(length(ArtistDetailText))
0,2264,223409,25557.129513,284553080